* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color: red
}

#paragraph-2 {
    color: blue
}

.paragraph-3 {
    color: green;
    font-size: 20px;
}

/* Bu hisse paragrapi 
ortalamaq
 ucundur */
p.merkez {
    text-align: center;
}

.color {
    color: rgba(37, 116, 158, 0.529);
    /* color:#0954f5d9; */
    /* RGB */
    background-color: gray;
}

.bot {
    background-color: #FF00FF;
    opacity: 0.5;

    /* background: #FF00FF88 */
}

.dotted {
    /* border-style: solid dotted dashed dashed; */
    /* border-top-style: dashed; */
    /* border-right-style: dotted; */
    /* border-style: dotted solid dashed; */
    /* border-width: 1px 5px 10px 15px; */
    /* border-color: red green blue;  */

    border: 5px solid red;
    border-radius: 5px;
}

.container {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
}